/* Global or in your component's CSS file */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5); /* Scrollbar color with some transparency */
  border-radius: 20px; /* Rounded scrollbar */
  border: 3px solid transparent; /* Space between scrollbar and track */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8); /* Scrollbar hover effect */
}
